.main{
    display: flex;
}
.item{
    list-style: none;
    margin-top:10px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* border: 2px solid black;
    border-radius: 10px; */
    padding: 5px;
}

.title{
    margin-left: 0;
    font-size: 1.3rem;
    font-weight: normal;
}
.quantity{
    margin-left: 60px;
    font-size: 1.3rem;
    font-weight: normal;
}
.price{
    margin-left: 60px;
    font-size: 1.3rem;
    font-weight: normal;
}
.container{
    border: 2px solid black;
    padding: 20px;
    margin :20px;
    border-radius: 10px;
}
.total {
    padding: 4px;
    border: 2px double black;
    border-radius: 4px;
    display: flex;
    float: right;
    color: black;
    font-size: larger;
    font-weight: bold;
    margin: 8px;
  }